@model BotanasDIVAL.Models.Almacen

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Almacen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCaducidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCaducidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdIngredienteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdIngredienteNavigation.NombreIngrediente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusNavigation.DescripcionStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAlmacen">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
