@model BotanasDIVAL.Models.Compras

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LugarCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LugarCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusNavigation.DescripcionStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCompra">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
