@model BotanasDIVAL.Models.Productos

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostoUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostoUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPresentacionNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPresentacionNavigation.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRecetaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRecetaNavigation.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusNavigation.DescripcionStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProducto" />
        <input type="hidden" asp-for="CodProducto" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
