@model BotanasDIVAL.Models.Productos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostoUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostoUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPresentacionNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPresentacionNavigation.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRecetaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRecetaNavigation.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusNavigation.DescripcionStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
