@model IEnumerable<BotanasDIVAL.Models.UnidadesMedida>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionUniMed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionUniMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusNavigation.DescripcionStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUniMed">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUniMed">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUniMed">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
