@model BotanasDIVAL.Models.Productos

@{  
    ViewData["Title"] = "Productos";
    ViewData["Message"] = "Una vista un poco más aislada, para observar con detalle únicamente la información de este registro.";
}

<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]/Vista individual</h1>
    </div>
    <!--End Page Header -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info"></i>&nbsp;&nbsp;@ViewData["Message"]
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-default btn-outline" asp-action="Index"><i class=" fas fa-arrow-left"></i>&nbsp;Regresar a la tabla</a>
                <hr />
                <p>Datos de este registro:</p>
                <dl class="dl-horizontal">
                    <dt>
                        Código de Producto:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodProducto)<br>
                    </dd>
                    <dt>
                        Descripción:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)<br>
                    </dd>
                    <dt>
                        Categoría:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdRecetaNavigation.IdCategoriaNavigation.NombreCategoria)<br>
                    </dd>
                    <dt>
                        Receta:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdRecetaNavigation.Descripcion)<br>
                    </dd>
                    <dt>
                        Presentación: (.grs)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdPresentacionNavigation.Cantidad)&nbsp;@Html.DisplayFor(model => model.IdPresentacionNavigation.IdUniMedNavigation.DescripcionUniMed)<br>
                    </dd>
                    <dt>
                        Precio de Venta:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Precio)<br>
                    </dd>
                    <dt>
                        Costo Unitario:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CostoUnit)<br>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Observaciones)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Observaciones)<br>
                    </dd>
                    <dt>
                        Estatus:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StatusNavigation.DescripcionStatus)<br>
                    </dd>
                </dl>
                <hr>
                <a class="btn btn-default btn-lg pull-right purple" asp-action="Edit" asp-route-id="@Model.IdProducto">Editar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>
