@model BotanasDIVAL.Models.DetalleCompra

@{  
    ViewData["Title"] = "Detalle de Compra";
    ViewData["Message"] = "Una vista un poco más aislada, para observar con detalle únicamente la información de este registro.";
}

<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]/Vista aún más detallada</h1>
    </div>
    <!--End Page Header -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info"></i>&nbsp;&nbsp;@ViewData["Message"]
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body success">
                <a class="btn btn-success btn-outline" asp-action="Index" asp-route-isQuery="true" asp-route-id="@Model.IdCompra"><i class=" fas fa-arrow-left"></i>&nbsp;Regresar a la tabla</a>
                <hr />
                <p>Datos de este registro:</p>
                <dl class="dl-horizontal">
                    <dt class="text-success">
                        Ingrediente:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdIngredienteNavigation.NombreIngrediente)<br>
                    </dd>
                    <dt class="text-success">
                        Cantidad:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Cantidad)<br>
                    </dd>
                    <dt class="text-success">
                        @Html.DisplayNameFor(model => model.Precio)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Precio)<br>
                    </dd>
                    <dt class="text-success">
                        @Html.DisplayNameFor(model => model.Observaciones)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Observaciones)<br>
                    </dd>
                    <dt class="text-success">
                        Estatus:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StatusNavigation.DescripcionStatus)<br>
                    </dd>
                </dl>
                <hr>
                <a class="btn btn-success btn-lg pull-right" asp-action="Edit" asp-route-id="@Model.IdDetCompra">Editar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>