@model BotanasDIVAL.Models.Status

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdStatus" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
