@model BotanasDIVAL.Models.Ventas

@{
    ViewData["Title"] = "Ventas";
    ViewData["Message"] = "¿Estás seguro que quieres eliminar esto? Estos cambios no se pueden deshacer.";
}

<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]/Eliminar un registro</h1>
    </div>
    <!--End Page Header -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info"></i>&nbsp;&nbsp;@ViewData["Message"]
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-info btn-outline" asp-action="Index"><i class=" fas fa-arrow-left"></i>&nbsp;Regresar a la tabla</a>
                <hr />
                <p>Datos de este registro:</p>
                <dl class="dl-horizontal">
                    <dt class="text-info">
                        Total de Venta:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalVenta)<br>
                    </dd>
                    <dt class="text-info">
                        Fecha de Venta:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaVenta)<br>
                    </dd>
                    <dt class="text-info">
                        @Html.DisplayNameFor(model => model.Observaciones)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Observaciones)<br>
                    </dd>
                    <dt class="text-info">
                        Estatus:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StatusNavigation.DescripcionStatus)<br>
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdVenta"/>
                    <input type="submit" value="Borrar" class="btn btn-info btn-lg pull-right"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>