@model BotanasDIVAL.Models.DetalleVenta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleVenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodProductoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodProductoNavigation.CodProducto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdVentaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdVentaNavigation.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusNavigation.DescripcionStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDetVenta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
